
body{
    font-family:sans-serif;
}

.tn{
    font-size:calc(50vw / 40);
}
a{
    font-size:calc(50vw / 40);
}
.wctext1{
    font-size:calc(80vw / 40);
    text-align: center;
    color: white;
}
.wctext2{
    font-size:calc(80vw / 40);
    text-align: center;
    margin-top: -30vh;
    color: white;
}
.next:hover{
    opacity: 0.6;
    transition:0.5s;
    transform: scale(1.2);
  }
.button {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: calc(50vw / 39);
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid black;
  }
.button:hover {
    background-color: red ;
    color:white ;
    border: 2px solid red;
  }

.fullscreen{
    width:100%;
    height:100vh;
    background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/884624357899501649/901702436522172466/bg0.4.png');
    background-position: center;
}
.fullscreen2{
    width:100%;
    height:100vh;
    background-size: cover;
    background-image: url('https://cdn.discordapp.com/attachments/884624357899501649/901764045974151168/bg2.png');
    background-position: center;
}
.flex-center-parent{
    display:flex;
    justify-content: center;
    align-items:center;
}


#menu{
    display: block;
    color: white;
    padding: 1em;
    position: fixed;
    left: -100%;
    width: 50%;
    height: 100vh;
    box-sizing: border-box;
    transition: all .3s;
    font-size: calc(1vw + 1vh + 1vmin);
    font-weight: 700;
}
#more{
    display: block;
    color: white;
    padding: 10em;
    position:absolute;
    width:100vw;
    height: 103vh;
    left: -150%;
    margin-top: -41vh;
    font-size:calc(50vw / 39);
    background-color: black;
}
#ans{
    display: block;
    color: white;
    padding: 10em;
    position:absolute;
    width:100vw;
    height: 103vh;
    left: -150%;
    margin-top: -41vh;
    font-size:calc(50vw / 33);
    background-color: black;
}

#bar{
    position: fixed;
    right: 1em;
    top: 1em;
}
[data-tog="1"]{
        left: 0 !important;
}


#NuTz{
    width: calc(100vw / 9);
}
